body{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 12px;

}

#headline{
  text-align: center;
  font-family: 'Anek Latin', sans-serif;
}

#topper{
  font-family: 'Splash', cursive;
  text-align: center;
  font-size:50px;
  background-color: black;
  color: white;
  padding-bottom: 50px;
  padding-top: 50px;
}

#byline{
  text-align: center;
  font-size: 13px;
  font-family: 'Anek Latin', sans-serif;
}

.chapter-head{
  font-size: 30px;
  font-weight:bold;
  font-family: 'Anek Latin bold',  sans-serif;
}

figcaption{
  color: grey;
  font-size: 10px;
}
#container{
  margin-left: 90px;
  margin-right: 90px;
  margin-top: 20px;
  margin-bottom: 20px;
}



.pictures img{
  width: 100%;
  height: auto;
  flex: center;
}

img{
  width: 100%;
}


blockquote {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 40px;
  margin-right: 40px;
  background-color: #F0EAE6;
  font-size: 16px;
  border-left: 3px solid #0C5C97;
  padding-left: 10px;
  font-weight: bold;
}

footer{
  color:#20304A;
  height: 60px;
  text-align: center;
  padding-top: 90px;
  font-family: "HelveticaNeuet", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
}
