h1{
  font-size: 36px;
  color: #33485e;
  font-family: Verdana, Arial, sans-serif;
}

#name{
  border-bottom: 1px solid #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}

.sectionheader{
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 0;
  margin-right: 0;
  width: 70%;
  min-width: 300px;
}

.organization{
  font-size: 1.25em;
}

.date{
  margin-top: 2px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.description{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0px;
}

.menu{
  margin: 0px;
  padding: 0px;
  text-align: center;
}
