h1{
  font-size: 36px;
  color: #33485e;
  font-family: Verdana, Arial, sans-serif;
}

body{
  font-family: Verdana, Arial, sans-serif;
}




#name{
  border-bottom: 1px solid #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
  font-size: 36px;
  color: #33485e;
  font-family: Verdana, Arial, sans-serif;
  text-align: center;
}

.sectionheader{
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 0;
  margin-right: 0;
  width: 70%;
  min-width: 300px;
  background-color: #33485e;
  color: white;
  font-size: 20px;
  font-family: Verdana, Arial, sans-serif;
}

.organization{
  font-size: 1.25em;
}

.date{
  margin-top: 2px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.description{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0px;
}

.menu{
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.menu li {
  display:inline;
}

#degrees{
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

#do{
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

#title{
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.top{
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
}

#container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.jobtitle{
  font-size: 1.30em;
  font-weight: bold;
}
