h1{
  font-size: 36px;
  color: #33485e;
  font-family: Verdana, Arial, sans-serif;
}

body{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
}

.banner-area img{
  width: 100%;
}

#name{
  border-bottom: 1px solid #33485e;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
  font-size: 36px;
  color: #33485e;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
  text-align: center;
}

.sectionheader{
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 0;
  margin-right: 0;
  width: 70%;
  min-width: 10px;
  color: #20304A;
  font-size: 20px;
  font-family: "HelveticaNeue-bold", "Helvetica Neuet", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
}

.organization{
  font-size: 1em;
  font-family: "HelveticaNeuet", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #20304A;
}

.date{
  margin-top: 2px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  font-family: "HelveticaNeuet", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #20304A;
  font-size: 11.5px;
}

.description{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0px;
}

.menu{
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.menu li {
  display:inline;
}

#degrees{
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

#do{
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

#title{
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.top{
  width: 100%;
  min-width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.jobtitle{
  font-size: 1.1em;
  color: #20304A;
  font-family: "HelveticaNeue-bold", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
}

#container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.vertical-menu {
  width: 110px; /* Set a width if you like */
  float: right;
  position:
}

.vertical-menu a {
  background-color: #20304A; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
  background-color: grey; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
  background-color: #20304A; /* Add a green color to the "active/current" link */
  color: white;
}
